arcgis==2.0.1
jupyter_contrib_nbextensions
pysal
pyshp
Geopandas
folium
mplleaflet
mapclassify
Rtree
geopy
ipyleaflet
mesa-geo
keplergl
panel
graphviz
openpyxl
osmnx
rioxarray
xarray
datashader
contextily
hdbscan
clarifai
keras
imutils
holoviews
hvplot
spacy
cenpy
CensusData
