pillow
pyproj
openpyxl 
cenpy 
python-Levenshtein 
geopy 
ipyleaflet
keplergl 
mesa-geo 
mesa 
matplotlib 
shapely
pyshp
pandas
censusdata 
graphviz
geopandas
cartopy
pysal
contextily
jupyterlab_widgets
osmnx

# New packages
ipywidgets
panel
statsmodels
pyvis
networkx
holoviews
hvplot
geopandas
bokeh
jupyter_bokeh
