pillow
pyproj
openpyxl 
cenpy 
python-Levenshtein 
geopy 
ipyleaflet
keplergl
mesa-geo 
mesa 
matplotlib 
shapely
pyshp
pandas
censusdata 
graphviz
geopandas
cartopy
pysal
contextily
jupyterlab_widgets
osmnx
numpy==1.26.4

# TODO: keplergl/bokeh conflict with their dependency on ipywidgets as of 12/5/24. keplergl wants ipyiwdgets<8 >=7.8.1, but bokeh wants ==8.*.
# May have to pick one or the other

# New packages
ipywidgets
panel
statsmodels
pyvis
networkx
holoviews
hvplot
geopandas
bokeh
jupyter_bokeh
jupyterlab-open-url-parameter
pygris
shap
